<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>concert</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <h2 class="ffff">全台音樂會資訊</h2>

    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title1 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName1 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate1 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site1 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title2 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName2 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate2 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site2 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title3 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName3 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate3 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site3 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title4 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName4 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate4 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site4 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title5 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName5 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate5 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site5 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title6 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName6 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate6 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site6 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title7 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName7 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate7 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site7 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title8 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName8 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate8 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site8 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title9 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName9 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate9 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site9 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <table border="1">
        <tbody>
            <tr>
                <th>節目名稱</th>
                {% for title in title10 %}
                <div id="title">
                    <td>{{title}}</td>
                </div>
                {% endfor %}
            </tr>
            <tr>
                <th>售票處</th>
                {% for sourceWebName in sourceWebName10 %}
                <td>{{sourceWebName}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>首演日期</th>
                {% for startDate in startDate10 %}
                <td>{{startDate}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>相關網站</th>
                {% for site in site10 %}
                <td><a href="{{site}}">>></a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

</body>

</html>